[submodule "uke-latex"]
	path = uke-latex
	url = https://github.com/tamepenguin/uke-latex.git
[submodule "dilli-lieder"]
	path = dilli-lieder
	url = git@github.com:tamepenguin/dilli-lieder.git
[submodule "uku2tex"]
	path = uku2tex
	url = git@github.com:tamepenguin/uku2tex.git
